<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <meta name="author" content="常伟">
    <title>工资计算器</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
    <script src="libs/angular.js"></script>
    <script src="libs/ngStorage.js"></script>
</head>

<body ng-app="GZ" ng-cloak ng-init="pageIndex=0;pageTitle='工资计算器'">
    <header>{{pageTitle}}</header>
    <div class="page" ng-controller="CalcController" ng-show="pageIndex==0">
        <form class="gz-form">
            <input type="number" ng-change="showResult=false" ng-model="jiben" required min="1800" autocomplete="off" placeholder="您的基本工资/不能低于最低工资标准">
            <input type="number" ng-change="showResult=false" ng-model="jixiao" autocomplete="off" placeholder="您的绩效工资">
            <input type="number" ng-change="showResult=false" ng-model="jiangjin" autocomplete="off" placeholder="您的奖金">
            <button ng-click="calc()">开始计算</button>
        </form>
        <section ng-show="showResult">
            <dl>
                <dt>工资总额</dt>
                <dd>{{result.total | currency:'￥'}}</dd>
            </dl>
            <div class="hr"></div>
            <dl class="zhichu">
                <dt>养老 8%</dt>
                <dd>{{result.shebao.yanglao | currency:'￥'}}</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>医疗 2%</dt>
                <dd>{{result.shebao.yiliao | currency:'￥'}}</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>失业 0.5%</dt>
                <dd>{{result.shebao.shiye | currency:'￥'}}</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>工伤 0%</dt>
                <dd>{{result.shebao.gongshang | currency:'￥'}}</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>生育 0%</dt>
                <dd>{{result.shebao.shengyu | currency:'￥'}}</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>公积金 8%</dt>
                <dd>{{result.shebao.gongjijin | currency:'￥'}}</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>社保统筹</dt>
                <dd>{{result.shebao.tongchou | currency:'￥'}}</dd>
            </dl>
            <div class="hr"></div>
            <dl>
                <dt>计税工资</dt>
                <dd>{{result.jishui | currency:'￥'}}</dd>
            </dl>
            <div></div>
            <dl class="zhichu">
                <dt>个人所得税</dt>
                <dd>{{result.shui | currency:'￥'}}</dd>
            </dl>
            <div class="hr"></div>
            <dl class="result">
                <dt>实发工资</dt>
                <dd>{{result.shifa | currency:'￥'}}</dd>
            </dl>
            <div></div>
        </section>
    </div>
    <div class="page" ng-controller="SettingController" ng-show="pageIndex==1">
        <form action="">
            <ul class="list">
                <li>
                    <span>养老费率</span>
                    <input type="number" ng-model="shebao.yanglao" placeholder="请输入养老费率">
                </li>
                <li>
                    <span>医疗费率</span>
                    <input type="number" ng-model="shebao.yiliao" placeholder="请输入医疗费率">
                </li>
                <li>
                    <span>失业费率</span>
                    <input type="number" ng-model="shebao.shiye" placeholder="请输入失业费率">
                </li>
                <li>
                    <span>工伤费率</span>
                    <input type="number" ng-model="shebao.gongshang" placeholder="请输入工伤费率">
                </li>
                <li>
                    <span>生育费率</span>
                    <input type="number" ng-model="shebao.shengyu" placeholder="请输入生育费率">
                </li>
                <li>
                    <span>公积金费率</span>
                    <input type="number" ng-model="shebao.gongjijin" placeholder="请输入公积金费率">
                </li>
                <li>
                    <span>社保统筹</span>
                    <input type="number" ng-model="shebao.tongchou" placeholder="请输入社保统筹">
                </li>
            </ul>
            <div class="btn">保存</div>
        </form>
    </div>
    <div class="page" ng-show="pageIndex==2">
        <h1>关于页面</h1>
    </div>
    <footer>
        <a href="#" ng-click="pageIndex=0;pageTitle='工资计算器'" ng-class="pageIndex==0 ? 'selected':''">
            <span>
                    <i class="fa fa-calculator"></i>
                </span>
            <span>计算</span>
        </a>
        <a href="#" ng-click="pageIndex=1;pageTitle='设置'" ng-class="pageIndex==1 ? 'selected':''">
            <span>
                    <i class="fa fa-cog"></i>
                </span>
            <span>设置</span>
        </a>
        <a href="#" ng-click="pageIndex=2;pageTitle='关于'" ng-class="pageIndex==2 ? 'selected':''">
            <span>
                    <i class="fa fa-tasks"></i>
                </span>
            <span>关于</span>
        </a>
    </footer>
    <script src="index.js"></script>
</body>

</html>